#tqdm
click
setuptools>=42
numpy==1.23.4
#opencv-python
#scipy
scikit-image==0.18.3
#trimesh
argparse
pyhocon
plyfile
typing_extensions
diffusers==0.28.0
pycolmap
open3d
transformers==4.48.0
PyMCubes
torch-scatter
numba==0.56.4
pycuda==2024.1.2
huggingface-hub==0.24.6
accelerate
